body {
  font-family: "raleway", sans-serif;
}

/* about section */
.about-container {
  height: 65vh;
  background: url(/assets/photos/Borah.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.name-section {
  text-align: center;
}

.name-title {
  font-weight: 200;
  font-size: 4rem;
  text-shadow: 2px 2px 8px #000000;
  color: white;
}

.last-name-title {
  font-weight: 300;
  color: white;
  font-size: 4rem;
  text-shadow: 2px 2px 8px #000000;
}

.name-subtitle {
  font-weight: 300;
  font-size: 2rem;
  text-shadow: 2px 2px 8px #000000;
  color: white;
}

.button-projects {
  width: 8rem;
  opacity: 0.8;
}

.button-about {
  width: 8rem;
}

/* project section */
.projects-container {
  height: 80vh;
  background: #75d8c3;
}

/* .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
} */

/* skills section */
.skills-container {
  height: 45vh;
}

/* contact section */
.contact-container {
  height: 45vh;
}

/* Footer section */
.footer-container {
  height: 25vh;
  background-color: black;
}

.footer-column-1 {
  border-right: 1rem;
  border-right-color: solid white;
  color: white;
}
